section.container
  h2 Simple Page Example
  p This page was rendered by a simple page view file at client/pages/info.js.
  if app.currentUser.loggedIn
    a(href="/") Plan a Meal
  else
    button(data-hook="login") Login with Google
    .error(data-hook="error")
