@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300);
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

input[type="button"], input[type="reset"], input[type="submit"], button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #333;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1.5em;
  padding: .75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus {
    background-color: #0d0d0d;
    color: #fff; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, button:disabled {
    cursor: not-allowed;
    opacity: .5; }

fieldset {
  background-color: #b3b3b3;
  border: 1px solid #999;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: '*'; }
  label abbr {
    display: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple], textarea {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 1.5em;
  padding: 0.75em;
  transition: border-color;
  width: 100%; }
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover, textarea:hover {
    border-color: gray; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus, textarea:focus {
    background-color: #f7f7f7;
    border-color: #666666;
    outline: none; }
    input[type="email"]:focus::-webkit-input-placeholder, input[type="number"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder, input[type="search"]:focus::-webkit-input-placeholder, input[type="tel"]:focus::-webkit-input-placeholder, input[type="text"]:focus::-webkit-input-placeholder, input[type="url"]:focus::-webkit-input-placeholder, input[type="color"]:focus::-webkit-input-placeholder, input[type="date"]:focus::-webkit-input-placeholder, input[type="datetime"]:focus::-webkit-input-placeholder, input[type="datetime-local"]:focus::-webkit-input-placeholder, input[type="month"]:focus::-webkit-input-placeholder, input[type="time"]:focus::-webkit-input-placeholder, input[type="week"]:focus::-webkit-input-placeholder, select[multiple=multiple]:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
      color: #999; }
    input[type="email"]:focus::-moz-placeholder, input[type="number"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder, input[type="search"]:focus::-moz-placeholder, input[type="tel"]:focus::-moz-placeholder, input[type="text"]:focus::-moz-placeholder, input[type="url"]:focus::-moz-placeholder, input[type="color"]:focus::-moz-placeholder, input[type="date"]:focus::-moz-placeholder, input[type="datetime"]:focus::-moz-placeholder, input[type="datetime-local"]:focus::-moz-placeholder, input[type="month"]:focus::-moz-placeholder, input[type="time"]:focus::-moz-placeholder, input[type="week"]:focus::-moz-placeholder, select[multiple=multiple]:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
      color: #999; }
    input[type="email"]:focus:-moz-placeholder, input[type="number"]:focus:-moz-placeholder, input[type="password"]:focus:-moz-placeholder, input[type="search"]:focus:-moz-placeholder, input[type="tel"]:focus:-moz-placeholder, input[type="text"]:focus:-moz-placeholder, input[type="url"]:focus:-moz-placeholder, input[type="color"]:focus:-moz-placeholder, input[type="date"]:focus:-moz-placeholder, input[type="datetime"]:focus:-moz-placeholder, input[type="datetime-local"]:focus:-moz-placeholder, input[type="month"]:focus:-moz-placeholder, input[type="time"]:focus:-moz-placeholder, input[type="week"]:focus:-moz-placeholder, select[multiple=multiple]:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
      color: #999; }
    input[type="email"]:focus:-ms-input-placeholder, input[type="number"]:focus:-ms-input-placeholder, input[type="password"]:focus:-ms-input-placeholder, input[type="search"]:focus:-ms-input-placeholder, input[type="tel"]:focus:-ms-input-placeholder, input[type="text"]:focus:-ms-input-placeholder, input[type="url"]:focus:-ms-input-placeholder, input[type="color"]:focus:-ms-input-placeholder, input[type="date"]:focus:-ms-input-placeholder, input[type="datetime"]:focus:-ms-input-placeholder, input[type="datetime-local"]:focus:-ms-input-placeholder, input[type="month"]:focus:-ms-input-placeholder, input[type="time"]:focus:-ms-input-placeholder, input[type="week"]:focus:-ms-input-placeholder, select[multiple=multiple]:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
      color: #999; }

textarea {
  resize: vertical; }

input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type='checkbox'], input[type='radio'] {
  display: inline;
  margin-right: 0.375em; }

input[type='file'] {
  padding-bottom: 0.75em;
  width: 100%; }

.select-style {
  padding: 0.75em;
  margin: 0 0 1.5em;
  border: 1px solid #999;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat right 10px center; }
  .select-style select {
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    line-height: 1.4em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .select-style select:focus {
      outline: none; }

select {
  max-width: 100%;
  width: auto; }

.date-controls .month {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .date-controls .month:last-child {
    margin-right: 0; }
.date-controls .day {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .date-controls .day:last-child {
    margin-right: 0; }
.date-controls .year {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0; }
  .date-controls .year:last-child {
    margin-right: 0; }
.date-controls .hour {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .date-controls .hour:last-child {
    margin-right: 0; }
.date-controls .minute {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .date-controls .minute:last-child {
    margin-right: 0; }
.date-controls .meridiem {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0; }
  .date-controls .meridiem:last-child {
    margin-right: 0; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: 'kern', 'liga', 'tnum';
  -moz-font-feature-settings: 'kern', 'liga', 'tnum';
  -ms-font-feature-settings: 'kern', 'liga', 'tnum';
  font-feature-settings: 'kern', 'liga', 'tnum';
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #737373;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #999;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: 'kern', 'liga', 'pnum';
  -moz-font-feature-settings: 'kern', 'liga', 'pnum';
  -ms-font-feature-settings: 'kern', 'liga', 'pnum';
  font-feature-settings: 'kern', 'liga', 'pnum';
  color: #333;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 0.75em;
  text-transform: lowercase; }

h1 {
  font-size: 3em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #999;
  cursor: pointer;
  text-decoration: none;
  transition: color .1s linear; }
  a:active, a:focus, a:hover {
    color: #737373; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #999;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

.home .form-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 34.11922%; }
  .home .form-container:last-child {
    margin-right: 0; }
.home .fields:after {
  content: "";
  display: table;
  clear: both; }
.home .name {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .home .name:last-child {
    margin-right: 0; }
.home .date {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .home .date:last-child {
    margin-right: 0; }
.home .location {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .home .location:last-child {
    margin-right: 0; }
.home button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .home button:last-child {
    margin-right: 0; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

nav {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  text-align: center;
  text-transform: lowercase; }
  nav:after {
    content: "";
    display: table;
    clear: both; }
  nav .profile {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 68.23843%;
    text-align: right; }
    nav .profile:last-child {
      margin-right: 0; }
  nav .login, nav .logout {
    cursor: pointer; }
  nav .logout {
    display: none; }
    nav .logout:before {
      content: ' / ';
      font-weight: normal; }
  nav.logged-in .logout {
    display: inline; }
  nav.logged-in .login {
    display: none; }
