nav.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href='/') Mealplan
    ul.nav.navbar-nav
      li
          a(href="/") home
        li
          a(href="/collections") collection demo
        li
          a(href="/info") more info
        li
          a(href="/logout") logout